{% extends 'base.html' %}
{% load tz %}

{% block style %}
  <style>
    .jumbotron {
      text-align: center;
    }
    #home {
      float: right;
      height: 35px;
      color: #fff;
      background: #337ab7;
      padding: 10px;
      margin-top: -20px;
    }
    #button{
  margin:auto;
  display:block;
}
    .divider{
    width:5px;
    height:auto;
    display:inline-block;
}
  </style>
{% endblock %}

  {% block jumbotron %}

  <a href="{% url 'get_cur_task' %}" id="home" right>Home</a>
<hr>

          <div class="jumbotron">

                <form class="form-horizontal"
                      method="post"
                      enctype="multipart/form-data"
                      action="{% url 'update_dvr_task' info.uuid %}">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="title" class="col-sm-5 col-form-label">Title</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control"
                                 id="title"
                                 name="title"
                                 readonly class="form-control-plaintext"
                                 value='{{ info.task.title }}'>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="content" class="col-sm-5 col-form-label">Content</label>
                        <div class="col-sm-4">
                          <textarea class="form-control"
                                    input type="text" id="res_location"
                                    name="content"
                                    readonly class="form-control-plaintext"
                                    rows="3"> {{ info.task.content.strip }}</textarea>
                        </div>
                      </div>

                        <div class="form-group">
                          <label for="priority" class="col-sm-5 col-form-label">Priority</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control"
                              readonly class="form-control-plaintext"
                                   id="priority"
                                   name="priority"
                                   value='{{ info.task.get_priority_display }}'>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="state" class="col-sm-5 col-form-label">state</label>
                          {% if info.state == 3 or info.state == 4 %}
                            <div class="col-sm-4">
                              <input type="text" class="form-control"
                                readonly class="form-control-plaintext"
                                     id="state"
                                     name="state"
                                     value='{{ info.get_state_display }}'>
                          {% else %}
                            <select name="state">
                              <option value=2 {% if info.state == 2 %}selected="selected"{% endif %}>
                                Accepted</option>
                              <option value=3 {% if info.state == 3 %}selected="selected"{% endif %}>
                                Completed</option>
                              <option value=4 {% if info.state == 4 %}selected="selected"{% endif %}>
                                Declined</option>
                            </select>


                          </div>
                        </div>

                    <hr>
                    <button type="submit" name="_method" value="ACCEPT" id="button"
                    class="btn btn-primary">Update</button>
                    {% endif %}


              </form>

          </div>
{% endblock %}
